* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(https://images.pexels.com/photos/207142/pexels-photo-207142.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  /* background-color: lightgray;
  margin: 0 auto;
  max-width: 1440px; */
}
/* header {
  background: deepskyblue;
  width: 100%;
}

header nav ul li {
  display: inline-block;
  padding: 20px;
  color: white;
}
header nav ul li:first-child {
  font-size: large;
  font-weight: bolder;
  letter-spacing: 1px;
}
header nav ul li a {
  color: white;
  text-decoration: none;
} */